body {
    background-image: url(moro2.jpg);
    font-family: 'Cutive Mono', sans-serif;
    padding-left: 10rem;
    font-weight: bold;
    font-style: normal;
}
#data {
    display: flex;

    margin-top: 2rem;
    margin-left: 80%;
    border-radius: 8rem;
    border-style: solid ;
    width: 13rem;
    height: 13rem;
    text-align: center;
    align-items: center;
    color: #cc0000;
}
#h1 {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    border-style: solid;
    border-radius: 2rem;
    margin-left: 30%;
    margin-right: 30%;
}
.fa-fighter-jet {
  display: flex;
    margin-left: 12rem;
}
.button {
  display: flex;
  margin-left: 40%;
  margin-right: 40%;
  font-family: 'Cutive Mono', sans-serif;
  font-size: 2rem;
  height: 3rem;
  border-radius: 5rem;

background: rgba(98,125,77,1);
background: -moz-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: -webkit-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: -o-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: -ms-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);
background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%);

}
#comments {
  background-image: url(norm_editcp.jpg);
  background-color: #99cc99;
font-size: 1.5rem;
border-radius: 3rem;
margin-left: 20%;
margin-right: 20%;
}
.content {
  display: flex;
  border-style: dashed;
  margin-left: 30%;
  margin-right: 30%;
}
.btn-danger {
  margin-left: 30%;
  margin-right: 30%;
}
#czytnik {

}
